<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".OpentaskerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_opentasker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_opentasker_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenTasker"
        tools:targetApi="31">
        <service
            android:name=".widgets.EventosRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widgets.WidgetEventos"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_eventos_info" />
        </receiver>

        <activity
            android:name=".onboarding.LogoScreenActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.DatosTiposActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.DatosCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.DatosAgendaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.modifiers.ModifyHoraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.builders.NewHoraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.modifiers.ModifyCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TipoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.builders.NewTiempoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TiemposActivity"
            android:exported="false" />
        <activity
            android:name=".activities.modifiers.ModifyEventosActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".activities.modifiers.ModifyNotasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.builders.NewCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.builders.NewEventoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.builders.NewNotaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.NotificationReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>

</manifest>